/* width */
::-webkit-scrollbar {
    width: 10px;
    border: 0.1px solid black;
    border-radius: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: #090909; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 58, 55); 
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 110, 109);
  }