/* Designing footer */
#footer{
    height: 60px;
    background-color: rgb(15, 158, 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

#footerSen{
    margin-left: 10px;
}

#footerBtn{
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
/* #footerBtn a{
    
} */